@model IEnumerable<Lab1_web_app.Accomodation>

@{
    ViewData["Title"] = "Житло за категорією";
}

<h1>Житло у категорії: @ViewBag.AccomodationTypeName</h1>

<p>
   @Html.ActionLink("Додати нове житло", "Create", new {typeId = @ViewBag.AccomodationTypeId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Rooms" asp-action="Index" asp-route-id="@item.Id" asp-route-name="@item.Name">Rooms</a> |
                <a asp-controller="Reviews" asp-action="Index" asp-route-id="@item.Id" asp-route-name="@item.Name">Reviews</a>
            </td>
        </tr>
}
    </tbody>
</table>
