@model Lab1_web_app.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdandartOccupancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdandartOccupancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOccupancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasKitchen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasKitchen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAirCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAirCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasInternet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasInternet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealService.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
